.info-card {
  background: #f1f1f1;
  border-radius: 5px;
  max-width: 20%;
  height: 100%;
  margin: 30px 20px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0.3);
  opacity: 0.9;
}

.info-card:hover {
  opacity: 1;
}

/* .new-info-card {
  border: 2px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0.3);
  margin: 30px 20px;
  max-width: 20%;
  height: 100%;
  opacity: 1;
} */

.btn-card {
  cursor: pointer;
}

.name-card {
  padding: 10px;
  text-align: center;
}

.select {
  background-color: green;
  display: block;
  color: white;
  padding: 5px;
  font-weight: 900;
  text-align: center;
}

.no-select {
  display: none;
}

.img-card {
  width: 100%;
  height: 300px;
}

.description {
  text-align: justify;
  font-size: 1.2em;
  padding: 15px;
}
