.div-details {
  text-align: center;
}

.details-btn {
  /* border: none; */
  border: 1px solid ;
  border-radius: 10px;
  color: brown;
  padding: 8px;
  font-size: 1.2em;
  font-weight: 900;
  cursor: pointer;
  width: 80%;
}

.details-btn:hover {
  background-color: brown;
  color: white;
  transition: 0.4s;
}
